#Data Science Tools and Ecosystem

#In this notebook, Data Science Tools and Ecosystem are summarized.

#Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

#Objectives:
- Learn about Data Sets
- Learn about Data Science tools
- Learn about Jupyter notebooks

#Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. TensorFlow

|'Data Science Tools'|
|------|
|Jupyter Notebook|
|RStudio|
|Visual Studio|
print

In [15]:
#Below are a few examples of evaluating arithmetic expressions in Python.
(1-6)*3

-15

In [21]:
2**3

8

In [19]:
(5+16)/3

7.0

In [23]:
#This is a simple arithmetic expression to multiply then add integers.
3*4+5

17

In [25]:
#This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335

In [ ]:
##Author